html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#divButtons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 1px solid black;
}

#clear { grid-area: 1 / 1 / 2 / 3; }
#divide { grid-area: 1 / 3 / 2 / 4; }
#multiply { grid-area: 1 / 4 / 2 / 5; }
#seven { grid-area: 2 / 1 / 3 / 2; }
#eight { grid-area: 2 / 2 / 3 / 3; }
#nine { grid-area: 2 / 3 / 3 / 4; }
#subtract { grid-area: 2 / 4 / 3 / 5; }
#four { grid-area: 3 / 1 / 4 / 2; }
#five { grid-area: 3 / 2 / 4 / 3; }
#six { grid-area: 3 / 3 / 4 / 4; }
#add { grid-area: 3 / 4 / 4 / 5; }
#one { grid-area: 4 / 1 / 5 / 2; }
#two { grid-area: 4 / 2 / 5 / 3; }
#three { grid-area: 4 / 3 / 5 / 4; }
#zero { grid-area: 5 / 1 / 6 / 3; }
#decimal { grid-area: 5 / 3 / 6 / 4; }
#equals { grid-area: 4 / 4 / 6 / 5; }

#display {
    position: relative;
    left: 90%;
}

.hover {
    border: 1px solid white;
}
