html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#calc {
    
}


#calcNums {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: 0%;
    row-gap: 0%;
    grid-template-rows: 80px 80px 80px;
    margin: 0;
    padding: -30px;
    border: 1px solid black;
}

.nums {
    border: 1px solid black;
    text-align: center;
    margin: 0;
    padding: 20%;
    font-size: 2rem;
    
}

#result {
    height: 0;
    width: 0;
}

.hover {
    border: 1px solid red;
    
}
